.app-page {
  min-height: 100%;
  min-width: 700px;
  max-height: 100%;

  .img {
    width: 16px;
  }

  header {
    background-color: white;
  }

  .ant-layout-sider-children {
    overflow: auto;
    // height: 100vh;
    // position: fixed;
    // left: 0px;
    // z-index: 1;
    // flex: 0 0 200px;
    // max-width: 200px;
    // min-width: 200px;
    // width: 200px;
  }

  .ant-layout {
    min-width: 700px;
    overflow: auto;

    .ant-layout-content {
      min-height: auto;
      padding-bottom: 14px;

      .app-main {
        border-radius: 6px;
        min-height: calc(100% - 84px);
        // height: calc(100% - 84px);
        // height: calc(100% - 40px);
        // height: calc(100% - 84px);
        margin: 0 16px;

        .app-container {
          padding: 16px;
          background-color: white;
          border-radius: 2px;
        }
      }
    }
  }

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .login-out {
    margin-right: 16px;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .info {
    height: 32px;
    line-height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    color: white;

    p {
      padding-left: 5px;
      margin: 0;
      overflow: hidden; //超出的文本隐藏
      text-overflow: ellipsis; //溢出用省略号显示
      white-space: nowrap; //溢出不换行
    }
  }

  .footer-div {
    height: 56px;

    .ant-layout-footer {
      height: 40px;
      // line-height: 30px;
      margin: 14px;
      border-radius: 2px;
      background-color: white;
      min-width: 600px;
    }
  }
}